<header class="py-3 mb-4 border-bottom bg-light">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <span class="fs-4">CNJ Push Notification</span>
    </a>
  </div>
  {% if messages %}
  <div class="container mt-2">
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
  {% endif %}
</header>
